/* Color styles */
$primary-100: #d6e1f6;
$primary-200: #adc3ec;
$primary-300: #84a5e2;
$primary-400: #5b87d8;
$primary-500: #4276cf;
$primary-600: #365ea4;
$primary-700: #294579;
$primary-800: #1d2d4f;
$primary-900: #101625;

$success-100: #d6f6e4;
$success-200: #adf1c9;
$success-300: #84ebae;
$success-400: #5be593;
$success-500: #32e078;
$success-600: #29b860;
$success-700: #208f48;
$success-800: #166630;
$success-900: #0d3d18;

$warning-100: #fff6d6;
$warning-200: #ffedad;
$warning-300: #ffe384;
$warning-400: #ffda5b;
$warning-500: #ffd132;
$warning-600: #ccaa29;
$warning-700: #998320;
$warning-800: #665c16;
$warning-900: #33250d;

$error-100: #f6d6d6;
$error-200: #ecadad;
$error-300: #e28484;
$error-400: #d85b5b;
$error-500: #cf3232;
$error-600: #a42a2a;
$error-700: #792122;
$error-800: #4f1919;
$error-900: #251010;

$info-100: #d6e6f6;
$info-200: #adcdeb;
$info-300: #84b3e0;
$info-400: #5b9ad5;
$info-500: #3280ca;
$info-600: #2968a3;
$info-700: #204f7b;
$info-800: #163754;
$info-900: #0d1e2d;

$neutral-100: #fcfcfd;
$neutral-200: #d0d3d7;
$neutral-300: #a7acb4;
$neutral-400: #7d8491;
$neutral-500: #626b7b;
$neutral-600: #354054;
$neutral-700: #141e31;
$neutral-800: #040a15;
$neutral-900: #000103;

$transparent-black-100: rgba($neutral-900, 0.1);
$transparent-black-200: rgba($neutral-900, 0.2);
$transparent-black-300: rgba($neutral-900, 0.3);
$transparent-black-400: rgba($neutral-900, 0.4);
$transparent-black-500: rgba($neutral-900, 0.5);
$transparent-black-600: rgba($neutral-900, 0.6);
$transparent-black-700: rgba($neutral-900, 0.7);
$transparent-black-800: rgba($neutral-900, 0.8);
$transparent-black-900: rgba($neutral-900, 0.9);

$header-1: 53.75px;
$header-2: 44.79px;
$header-3: 37.32px;
$header-4: 31.1px;
$header-5: 25.92px;
$header-6: 21.6px;
$paragraph: 18px;
$small: 15px;
$extra-small: 12.5px;

$border-radius: 5px;

/* Effect styles */
$primary-shadow: 0px 0px 5px rgba($primary-300, 1);
$primary-dark-shadow: 0px 0px 5px rgba($primary-800, 1);
$success-shadow: 0px 0px 5px rgba($success-300, 1);
$warning-shadow: 0px 0px 5px rgba($warning-300, 1);
$error-glow: 0px 0px 5px rgba($error-300, 1);
$info-glow: 0px 0px 5px rgba($info-300, 1);
$neutral-glow: 0px 0px 5px rgba($neutral-100, 1);
$neutral-dark-glow: 0px 0px 5px rgba($neutral-800, 1);