@import "../../css/variables";

.about-us {
  background-color: $neutral-800;
  h1.page-title {
    color: $primary-500;
  }

  section {
    padding-top: 40px;
    padding-bottom: 80px;

    p {
      font-size: $header-5;
    }
  }

  section.expertise-and-experience,
  section.quality-and-attention-to-detail {
    background-color: $neutral-700;

    h2.page-title {
      color: $primary-500;
    }

    p {
      color: $primary-400;
    }
  }

  section.personalized-approach,
  section.our-values {
    background-color: $primary-500;

    h2.page-title,
    h3 {
      color: $primary-100;
    }

    p {
      color: $neutral-100;
    }

    h3:nth-of-type(2),
    h3:nth-of-type(3) {
      margin-top: 20px;
    }
  }

  section.cutting-edge-technology {
    background-color: $primary-800;

    h2.page-title {
      color: $neutral-100;
    }

    p {
      color: $primary-100;
    }
  }
}
