@import "../../css/variables";

.do-not-sell {
  background-color: $neutral-800;
  h1.page-title {
    color: $primary-500;
  }

  .do-not-sell-wrapper {
    color: $neutral-100;
    padding-bottom: 80px;

    label {
      font-size: $paragraph;
      &.switch-label {
        padding-left: 0px !important;
      }
    }
  }
}
