@import "../../css/variables";

.home-page {
  .hero {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

    .hero-overlay {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100vw;
      height: 100%;
    }

    .hero-video {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100vw;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      transform: translate(-50%, -50%);
      z-index: -1; // Ensure the video stays behind other contenthero-overlay
    }

    .hero-content {
      position: relative;
      z-index: 1; // Ensure the content stays above the video
      padding-top: 278px; // Adjust padding to account for navbar height if needed
      color: $neutral-100; // Adjust the text color for visibilityClassName

      p {
        font-size: $header-5;

        @media screen and (min-width: 768px) {
          max-width: 50%;
        }
      }

      .hero-button-container {
        @media screen and (min-width: 768px) {
          max-width: 50%;
        }
      }
    }
  }

  .our-work {
    position: relative;
    color: $neutral-200;
    overflow: hidden;

    .background-svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      #blob-scene-visual {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    p {
      font-size: $header-5;
    }
  }

  .home-customer-reviews {
    background-color: $neutral-700;

    .page-title {
      color: $primary-500;
    }

    .customer-reviews-container {
      align-items: stretch;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .how-it-works {
    video {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100vw;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      transform: translate(-50%, -50%);
      z-index: -1;
    }

    .how-it-works-overlay {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100vw;
      height: 100%;
      z-index: -1;
    }

    .page-title,
    p {
      color: $primary-100;
    }

    p {
      font-size: $header-4;
    }
  }

  .pricing {
    background-color: $neutral-800;

    .page-title {
      color: $primary-500;
    }
  }

  .get-started {
    background-image: url("../../../public/assets/images/backgrounds/misc-technology.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .get-started-dark-overlay {
      width: 100vw;
      height: 100%;
      z-index: 1;
    }

    .page-title,
    p {
      color: $primary-200;
      z-index: 1;
    }

    p {
      font-size: $header-4;
    }
  }
}
