@import "../../css/variables";

.login {
  padding-top: 190px;

  .background-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    
    @media screen and (max-width: 768px) {
      height: 120vh;
    }

    #blob-scene-visual {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
